{% extends 'base_layout.html' %}
{% load static %}
{% block title %} Добавить рецепт {% endblock title %}
{% block content %}
    <script src="{% static 'scripts/previewphoto.js' %}"></script>
    <script src="{% static 'scripts/addfield.js' %}"></script>
    <div class="addrecipe_h">
        <h1>Добавьте рецепт</h1>
        <h2>Пора миру узнать что значит вкусно!</h2>
    </div>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="addrecipe">
        <div class="addrecipe_info">
            <label for="id_image">
                {{ formRecipe.image }}
                <div class="addrecipe_info_img-wrapper">
                    <img id="preview" src="{% static 'img/blank.png' %}" alt="" class="addrecipe_info-img">
                    <img src="{% static 'img/icon-addimage.svg' %}" alt="" class="addrecipe_info_img-add">
                </div>
            </label>

            <div class="addrecipe_info-form">
                {{ formRecipe.title }}
                {{ formRecipe.description }}
            </div>

        </div>
        <div class="addrecipe_tagsandingr">
            <span>Ингредиенты<br></span>
            <div class="recipe_info-tags">
                <label>
                    <span>Теги<br></span>
                    <input placeholder="Введите теги через пробел." name="tags" type="text">
                </label>
            </div>
            <div class="recipe_info-ingredients">
                <button class="add-btn" id="id_addbtn-newingr" type="button">Добавить ингедиент</button>
            </div>
            <div id="id_block-w-ingr" class="block_ingredients">

            </div>
        </div>
        <div class="addrecipe_steps">
            <div class="buttons">
                <button class="add-btn" id="id_addbtn-step-text" type="button">Добавить шаг <img src="{% static 'img/icon_text.svg' %}" alt=""></button>
                <button class="add-btn" id="id_addbtn-step-img" type="button">Добавить шаг <img src="{% static 'img/icon_photo.svg' %}" alt=""></button>
            </div>
            <div id="id_block-w-steps" class="block_steps">

            </div>
        </div>
        <button class="addrecipe_form-button" type="submit">Опубликовать</button>
    </div>
    </form>
{% endblock content %}

