{% extends 'base_layout.html' %}
{% block title %} рецепт {% endblock title %}
{% block content %}
    <div class="recipe">
        <div class="recipe_head">
            <span class="recipe_head-name">
                
            </span>
            <span class="recipe_head-author">

            </span>
            <span class="recipe_head-date">

            </span>
        </div>
        <div class="recipe_info">
            <img src="" alt="">
            <div class="recipe_info-right">
                <p>

                </p>
                <p>

                </p>
                <!-- Тут генерация списка тегов будет -->
                <p></p>
            </div>
        </div>
        <div class="recipe_ingridients">
            <p>Ингредиенты</p>
            <ul>
                <li>0_o</li>
            </ul>
        </div>
        <div class="recipe_main">
            <p>Рецепт </p>
            <!-- Тут весь рецепт -->
        </div>
        <div class="recipe_rate">
            <span>Оценки</span>
            <div class="recipe_rate-fivestars"></div>
        </div>
        <div class="recipe_comments">
            <form action="">

            </form>

            <div class="recipe_comments-commentsection">
                <ul>
                    <li>
                        Comment
                    </li>
                </ul>
            </div>
            <!-- Тут короче комменты -->
        </div>
    </div>
{% endblock content %}

