{% extends 'base_layout.html' %}
{% block title %} рецепт {% endblock title %}
{% block content %}
    <div class="recipe">
        <div class="recipe_head">
            <span class="recipe_head-name">
                {{ recipe.title }}
            </span>
            <span class="recipe_head-author">
                Автор: {{ recipe.user }}
            </span>
            <span class="recipe_head-date">
                Дата: {{ recipe.created_at | date:"d.m.Y" }}
            </span>
        </div>
        <div class="recipe_info">
            <img src="{{ recipe.image.url }}" alt="">
            <div class="recipe_info-right">
                <p class="recipe_info-description">
                    {{ recipe.description }}
                </p>
                {% for element in tags %}
                    <a href="">
                        #{{ element.tag }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="recipe_ingredients">
            <p>ИНГРИДИЕНТЫ</p>
            <ul>
                {% for element in ingredients %}
                    <li>
                        {{ element.ingredient }}: {{ element.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe_main">
            <p> Рецепт </p>
            {% for step in steps %}
                <p> {{ step.step_number }} шаг</p>
                {{ step.description }}
                {% if step.image %}
                    <p></p>
                    <img src="{{ step.image.url }}" alt="">
                {% endif %}
            {% endfor %}
        </div>
        <div class="recipe_rate">
            <span>Оценки</span>
            <div class="recipe_rate-fivestars"></div>
        </div>
        <div class="recipe_comments">
            <form action="">

            </form>

            <div class="recipe_comments-commentsection">
                <ul>
                    <li>
                        Comment
                    </li>
                </ul>
            </div>
            <!-- Тут короче комменты -->
        </div>
    </div>
{% endblock content %}

