{% extends 'base_layout.html' %}
{% load static %}
{% load mytags %}
{% block title %} рецепт {% endblock title %}
{% block content %}
    <div class="recipe">
        <div class="recipe_head">
            <span class="recipe_head-name">
                {{ recipe.title }}
            </span>
            <span class="recipe_head-author">
                Автор: {{ recipe.user }}
            </span>
            <span class="recipe_head-date">
                Дата: {{ recipe.created_at | date:"d.m.Y" }}
            </span>
        </div>
        <div class="recipe_info">
            <img src="{{ recipe.image.url }}" alt="">
            <div class="recipe_info-right">
                <p class="recipe_info-description">
                    {{ recipe.description }}
                </p>
                <p>
                {% for element in tags %}
                    <a href="">
                        #{{ element.tag }}
                    </a>
                {% endfor %}
                </p>
            </div>
        </div>
        <div class="recipe_ingredients">
            <p>ИНГРИДИЕНТЫ</p>
            <ul>
                {% for element in ingredients %}
                    <li>
                        {{ element.ingredient }}: {{ element.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe_main">
            <p class="recipe_main_h"> Рецепт </p>
            {% for step in steps %}
                <p class="recipe_main_step-desc">{{ step.step_number }}. {{ step.description }}</p>

                {% if step.image %}
                    <img class="recipe_main_step-image" src="{{ step.image.url }}" alt="">
                {% endif %}

            {% endfor %}
        </div>
        <div class="recipe_rate">
            <span>Оцените рецепт</span>
            <div class="rate-container">
                <div style="background: linear-gradient(90deg,rgba(250, 128, 5, 1) {{rating}}%, rgba(209, 209, 209, 1) 0%);" class="rate-color">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="recipe_comments">
            {% if user.is_authenticated %}
                <form class="comment_form" method="post" action="{% url 'recipes:addcomment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="recipe" value="{{ recipe.slug }}">
                    <textarea name="comment" id="id_addcomment" cols="30" rows="10" maxlength="200"></textarea>
                    <div class="comment_form-wrapper">
                        <div class="rate-color">
                            <input name="rating" id="fst-1" value="1" type="radio" required />
                            <input name="rating" id="fst-2" value="2" type="radio" required />
                            <input name="rating" id="fst-3" value="3" type="radio" required />
                            <input name="rating" id="fst-4" value="4" type="radio" required />
                            <input name="rating" id="fst-5" value="5" type="radio" required />
                        </div>
                       <button type="submit">Отправить</button>
                    </div>

                </form>
            {% endif %}
            <div class="recipe_comments-commentsection">
                <ul>
                    {% for c in comments %}
                        <li>
                            {% if c.user.profile_image %}
                            	<img src="{{ c.user.profile_image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'img/default.png' %}" alt="">
                            {% endif %}
                            <div class="comment_wrapper">
                                <div class="comment_info">
                                    <p>{{ c.user.username }}</p>
                                    <div class="rate-color" style="background: linear-gradient(90deg,rgba(250, 128, 5, 1) {{c.rating|of5:5}}%, rgba(209, 209, 209, 1) 0%);" >
                                        &nbsp;
                                    </div>

                                </div>
                                {% if c.comment %}
                                    <span>{{ c.comment }}</span>
                                {% else %}
                                    <span class="blank-comment">Пользователь не оставил комментарий...</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

