{% extends 'base_layout.html' %}
{% load static %}
{% load mytags %}
{% block title %} поиск {% endblock title %}
{% block content %}
    <div class="search">
        {% for recipe in recipes %}
            <div>
                <img src="{{ recipe.image.url }}" alt="">
                <div>
                    <a href="{{ recipe.slug }}" class="">
                        <p>{{ recipe.title }}</p>
                    </a>

                    RATE 5 STARS
                </div>
                <div>
                    <p>{{ recipe.description }}</p>
                </div>
                <div>
                    <p>Автор: {{ recipe.user }}</p>
                    <span>{{ recipe.created_at }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

