<p>Теги: </p>
        <button class="add_button" type="button" id="id_addtag-btn">Добавить тег...</button>

        <p>Ингридиенты</p>
        <button class="add_button" type="button" id="id_addigridient-btn">Добавить ингридиент...</button>
        <hr>
        <div class="addrecipe_addstep-buttons">
            <button class="add_button" type="button" id="id_addstep_photo">Добавить шаг... <img src="" alt=""></button>
            <button class="add_button" type="button" id="id_addstep_text">Добавить шаг... <img src="" alt=""></button>
        </div>