:root {
    --color-primary: #EA7828;
    --color-secondary: #ffe693;
    --color-primary-700: #FF0800;
    --color-secondary-100: #FFEBD6;
    --color-neutral: #D3D3D3;

    --size-footer-height: 90px;
}