{% extends 'base_layout.html' %}
{% load static %}
{% block title %} Профиль {% endblock title %}
{% block content %}
    <script src="{% static 'scripts/previewphoto.js' %}"></script>
    <script src="{% static 'scripts/inputchange.js' %}"></script>
    <div class="profile">
        <div class="profile_upcontent">
            <div class="profile_info">
                <label for="id_image">
                    <input type="file" id="id_image" name="profile_new_image" form="id_change_photo-form">
                    <div class="profile_img-wrapper">
                        {% if profile.profile_image %}
                        <img id="preview" src="{{ profile.profile_image.url }}" alt="" class="profile-img">
                        {% else %}
                        <img id="preview" src="{% static 'img/default.png' %}" alt="" class="profile-img">
                        {% endif %}
                        <img src="{% static 'img/icon-addimage.svg' %}" alt="" class="profile_img-add">
                    </div>
                </label>

                <div class="profile_info-left">
                    <p class="profile_info-name">
                        {{ user.username }}
                    </p>
                    <p class="profile_info-desc">
                    {% if user.description != None %}
                        <input id="id_changedesc" value="{{ user.description }}" type="text" class="profile_newdesc-input" form="id_change_desc-form" name="description">
                    {% else %}
                        <input id="id_changedesc" value="Нет описания..." type="text" class="profile_newdesc-input" form="id_change_desc-form" name="description">
                    {% endif %}
                    </p>

                </div>
            </div>

            <div class="profile-buttons">
                <form class="form" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="base_logout-button" type="submit">Выйти</button>
                </form>
                <form enctype="multipart/form-data" id="id_change_photo-form" action="{% url 'accounts:changephoto' %}" method="post">
                    {% csrf_token %}
                    <button id="id_changephoto-btn" class="base_changephoto-button" type="submit">Сменить фото</button>
                </form>
                <form id="id_change_desc-form" autocomplete="off" action="{% url 'accounts:changedescription' %}" method="post">
                    {% csrf_token %}
                    <button id="id_changedesc-btn" class="base_changedesc-button" type="submit">Поменять описание</button>
                </form>
            </div>


        </div>

    </div>
{% endblock content %}

