{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <header class="base_header">
        <a href="{% url 'homepage' %}"><img src="{% static '/img/Logo.svg' %}" alt="Your-chef" class="base_logo"></a>

        <form action="">
            <div class="base_search-container">
                <input type="text" placeholder="Введите название блюда или ингридиент..." name="search" class="base_search">
                <button type="submit" class="base_search-button"><img src="{% static 'img/icon-search.svg' %}" alt="POISK"></button>
            </div>

        </form>
        <a href="" class="base_addrecipe-button">Добавить рецепт</a>

        <a href="{% url 'accounts:login' %}" class="base_login-button">Войти</a>
    </header>

    <main>
    {% block content %}

    {% endblock content %}
    </main>

    <footer class="base_footer">
        <p>crw884. ALL RIGHTS VIOLATED.</p>
    </footer>
</body>
</html>