{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <header class="base_header">
        <a href="{% url 'homepage' %}"><img src="{% static '/img/Logo.svg' %}" alt="Your-chef" class="base_logo"></a>

        <form action="">
            <div class="base_search-container">
                <input type="text" placeholder="Введите название блюда или ингридиент..." name="search" class="base_search">
                <button type="submit" class="base_search-button"><img src="{% static 'img/icon-search.svg' %}" alt="POISK"></button>
            </div>

        </form>
        <a href="{% url 'recipes:addrecipe' %}" class="base_addrecipe-button">Добавить рецепт</a>
        {% if user.is_authenticated %}
            <div class="base_profilecard">
                <div class="base_profilecard-container">
                     <p class="base_profilecard-name">
                         {{ user.username }}
                     </p>
                     <a href="{% url 'accounts:profile' %}" class="base_profilecard-btn">Открыть профиль</a>
                </div>
                {% if user.profile_image %}
                <img src="{{ user.profile_image.url}}" alt="0_0">
                {% else %}
                <img src="{% static '/img/default.png' %}" alt="0_0">
                {% endif %}

            </div>
        {% else %}
            <a href="{% url 'accounts:login' %}" class="base_login-button">Войти</a>
        {% endif %}
    </header>

    <main>
    {% block content %}

    {% endblock content %}
    </main>

    <footer class="base_footer">
        <p>crw884 & SKH. ALL RIGHTS VIOLATED.</p>
    </footer>
</body>
</html>